<div>
    <p>В данном разделе существуют заранее предопределенные заголовки</p>
    <h6>Список предопределенных заголовков:</h6>
    <ul>
        <li>
            <b>logo_top</b> - логотип вверху сайта
        </li> 
        <li>
            <b>logo_bottom</b> - логотип внизу сайта
        </li>
        
        
    </ul>
</div>