<div>
    <p>Для правильной работы данного раздела админки имена полей должны иметь заранее предопределенные значения.</p>
    <h6>Список предопределенных имен полей:</h6>
    <ul>
        <li>
            <b>about</b> - текст на странице "О нас"
        </li> 
        <li>
            <b>about_footer</b> - текст в колонке "О нас" внизу сайта
        </li>
        <li>
            <b>reasons</b> - текст в колонке "Причины выбрать нас"
        </li>
        <li>
            <b>address</b> - адрес
        </li>
        <li>
            <b>opening_hours</b> - часы работы
        </li>
        <li>
            <b>epigraph</b> - эпиграф на главной странице сайта
        </li>
        <li>
            <b>tel</b> - телефон вверху сайта
        </li>
         <li>
            <b>tel_otdel_rachetov</b> - телефон отдела расчетов
        </li>
         <li>
            <b>tel_central_office</b> - телефон центрального офиса
        </li>
         <li>
            <b>email_zakaz</b> - Email вверху сайта
        </li>
        
    </ul>
</div>