.gallery
{
    margin: 10px 10px 10px 10px;
}

.gallery-wrap
{
    padding: 10px 10px 10px 10px;   
}

.bannerSection h3
{
    padding: 10px 10px  10px 15px;
    color: #2ea2ee;
}

.bannerSection2 h3
{
    padding: 10px 10px  10px 15px;
    color: #EC9F2E;
}