<div class="wrap">
<table class="table table-bordered">
<tr>
<td>
<span style="width: 50px" class="glyphicon glyphicon-exclamation-sign"></span>
Извините, запрашивамый контент не найден
</td>
</tr>
</table>

</div>