<!-- footerBottomSection -->	
	<div class="footerBottomSection">
		<div class="container">
			&copy; 2014, Альянс производителей камня. {#<a href="#">Terms and Condition</a> | <a href="#">Privacy Policy</a> #}
			<div class="counter-info">
            <p>
            <!-- begin of Top100 code -->
                
                <script id="top100Counter" type="text/javascript" src="http://counter.rambler.ru/top100.jcn?3089447"></script>
                <noscript>
                <a href="http://top100.rambler.ru/navi/3089447/">
                <img src="http://counter.rambler.ru/top100.cnt?3089447" alt="Rambler's Top100" border="0" />
                </a>
                </noscript>
            <!-- end of Top100 code -->
            </p>
            <p>
            <!-- Rating@Mail.ru logo -->
                <a href="http://top.mail.ru/jump?from=2618072">
                <img src="//top-fwz1.mail.ru/counter?id=2618072;t=479;l=1" 
                style="border:0;" height="31" width="88" alt="Рейтинг@Mail.ru" /></a>
            <!-- //Rating@Mail.ru logo -->
            </p>
            <p>
            <!-- Yandex.Metrika informer -->
                <a href="https://metrika.yandex.ru/stat/?id=28194456&amp;from=informer"
                target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/28194456/2_0_F8C923FF_D8A903FF_0_uniques"
                style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:28194456,lang:'ru'});return false}catch(e){}"/></a>
            <!-- /Yandex.Metrika informer -->
            </p>
            
            <!-- SEO counter -->
            <p>
                <script async="async" src="https://w.uptolike.com/widgets/v1/zp.js?pid=if972349" type="text/javascript"></script>
            </p>
            <!-- end SEO counter -->
            
            </div>
            <!--<div class="clear"></div>-->
            <div class="pull-right"> <a href="{{url('home_page')}}">
                {% if data.logo_bottom %}
                <img src="{{data.logo_bottom.getRelativeLinkToImg}}" alt="Альянс производителей камня" />
                {% endif %}
            </a></div>
            
             <script> 
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']
                =r;i[r]=i[r]||function(){ 
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();
                a=s.createElement(o), 
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m) 
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga'); 
                ga('create', 'UA-61389009-1', 'auto'); 
                ga('send', 'pageview'); 
             </script>
		</div>
	</div>