<div class="testimonails">
		<div class="container">
		<blockquote class="">
                <p>{% if data.settings['epigraph'] is defined %}{{data.settings['epigraph']}}{% endif %}</p>
                {#<small>- Rob & Kelly</small>#}
            </blockquote>		
		</div>
</div>