{% extends '::base.front.html.twig' %}
{% block title %}
   Заказ
{% endblock %}

{% block meta %}
    
        <meta name="keywords" content="Заказ"/>
        <meta name="description" content="Заказ"/>
    
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('bundles/aliansstone/css/front.style.css')}}" type="text/css" media="screen"/> 
{% endblock %}


{% block content %}
   <div class="wrap">
   
        <table class="table table-bordered">
        <tr>
        <td>
        <span style="width: 50px" class="glyphicon glyphicon-exclamation-sign"></span>
        Заполните поля Имя и Телефон или Email 
        </td>
        </tr>
        </table>

        
   
    </div>
{% endblock %}


{% block customjs %}

{% endblock %}